<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation-flex.css"/>
</head>
<body>
    
    <div  ng-app="myApp" ng-controller='AppCtrl'>
        
        <input type=text ng-model="search.name" placeholder="Search By Name"/>
        <input type=text ng-model="search.role" placeholder="Search By Role"/>
        <input type=text ng-model="search.status" placeholder="Search By Status"/>
        <input type=text ng-model="search.$" placeholder="Search All"/>
       <table>
         <tr ng-repeat="employee in employees | filter:search">
             <td>{{$index + 1}}</td>
            <td>{{employee.name}}</td>
             <td>{{employee.role}}</td>
             <td>{{employee.status}}</td>
           </tr>
        </table>
        
        
      
    </div>

    
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script>
        var app = angular.module('myApp', [])
        
       
        app.controller('AppCtrl', function($scope){
            $scope.somestring = 'Hyderabad is hot'
            $scope.arr = ['b', 'a', 'c', 'd']
            $scope.employees = [{
                name: 'Ravi',
                role: 'IT',
                status: 1
            },
                               {
                name: 'Priya',
                role: 'Finance',
                status: 1
            },
                                {
                name: 'Amit',
                role: 'HR',
                status: 0
            },
                               {
                name: 'Sonia',
                role: 'IT',
                status: 0
            }];
            
            console.log($scope)
            
        })
        
    </script>
    
</body>
</html>