<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    
    <div  ng-app="myApp">
      {{init()}}
       <input type=text ng-model="title"/>
        
        <div ng-controller="firstController">
            First Controller -- 
           <!-- <input type=text ng-model='data.message'/>-->
           {{title}} {{fName}}
            <div ng-controller="secondController">
               SEcond Controller -- 
               <!--<input type=text ng-model='data.message'/>-->
              {{title}} {{fName}} {{lName}}
            </div>
            
        </div>
         <br>
        
               
       
    </div>

    
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script>
       var app = angular.module('myApp' , []);
        
       app.run(function($rootScope){
            
            
        })
        
       /*app.factory('CommonData', function(){
           var obj = {message: 'Hello',
                      reverseMessage: function(x){
                          console.log('function called')
                      }
                     }
           return obj;
       })    */
        
      
       
       app.controller('firstController', function($rootScope, $scope){
          $rootScope.init = function(){
                $rootScope.title = 'Mr.'
            }
//           $scope.fName = 'Puneet';
           console.log($scope)
       })    
       

        
         app.controller('secondController', function($scope){

           $scope.lName = 'Vashisht'
           console.log($scope)
       })    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
       
    </script>
    
</body>
</html>